{% extends "base.html" %}

{% block head %}{% load staticfiles %}{% endblock %}

{% block header %}Providers{% endblock %}

{% block aside %}List of Providers{% endblock %}

{% block article %}

    <section>
        <ul>
            {% for provider in provider_list %}
                <li><a href="{% url 'amazon_mec_ep:provider-detail' provider.id %}" class="btn btn-info">
                    {{ provider.name }}
                </a></li>
            {% empty %}
                <li>No providers have been added yet.</li>
            {% endfor %}
        </ul>
    </section>

    <section>
        <a href="{% url 'amazon_mec_ep:provider-add' %}" class="btn btn-primary">Add Provider</a>
    </section>

{% endblock %}