{% extends "base.html" %}

{% block head %}{% load staticfiles %}{% endblock %}

{% block header %}Providers{% endblock %}

{% block aside %}Provider Form{% endblock %}

{% block article %}

    <section>
        <form
                action="{% if provider.id %}{% url 'amazon_mec_ep:provider-update' provider.id %}{% else %}{% url 'amazon_mec_ep:provider-add' %}{% endif %}"
                method="post"
                enctype="multipart/form-data">
        {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Save" class="btn btn-warning">

        </form>
    </section>

{% endblock %}

{% block footer %}

    <section>
        <a href="{% url 'amazon_mec_ep:provider-list' %}" class="btn btn-default">Back to List</a>
    </section>

{% endblock %}