{% extends "base.html" %}

{% block head %}{% load staticfiles %}{% endblock %}

{% block header %}Providers{% endblock %}

{% block aside %}Provider Details{% endblock %}

{% block article %}

    <section>
        <h4>Details</h4>
        <ul>
            <li>Provider name: <strong>{{ provider.name }}</strong></li>
            <li>Amazon code: <strong>{{ provider.amazon_code }}</strong></li>
        </ul>
    </section>

    <section>
        <h4>Series</h4>
        <ul>
            {% for series in provider.series_set.all %}
                <li><a href="{% url 'amazon_mec_ep:series-detail' series.id %}" class="btn btn-info">{{ series.name }}</a></li>
            {% empty %}
                <li>No series have been added yet.</li>
            {% endfor %}
        </ul>
    </section>

{% endblock %}

{% block footer %}

    <section>
        <a href="{% url 'amazon_mec_ep:provider-list' %}" class="btn btn-default">Provider List</a>
        <a href="{% url 'amazon_mec_ep:provider-update' provider.id %}" class="btn btn-warning">Edit</a>
        <a href="{% url 'amazon_mec_ep:provider-delete' provider.id %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'amazon_mec_ep:ingest' %}" class="btn btn-primary">Ingest Metadata</a>
        <a href="{% url 'amazon_mec_ep:series-add' %}" class="btn btn-primary">Add Series</a>
    </section>

{% endblock %}