{% extends "base.html" %}

{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'amazon_mec_ep/style.css' %}"/>
{% endblock %}

{% block body %}

    <!-- Flexbox container -->
    <div class="flex-container">

        <!-- Header -->
        <header>
            <h1>TcsMtl - Metadata</h1>
            <h3>Amazon Mec Episodic - Providers</h3>
        </header>

        <div class="flex-container main">

            <!-- Aside -->
            <aside>

            </aside>

            <!-- Article -->
            <article>
                <h4>List of providers</h4>
                <ul>
                    {% for provider in provider_list %}
                        <li><a href="{% url 'amazon_mec_ep:provider-detail' provider.id %}">{{ provider.name }}</a></li>
                    {% empty %}
                        <li>No providers have been added yet.</li>
                    {% endfor %}
                </ul>

            </article>

            <!-- Footer -->
            <footer>
            </footer>
        </div>

    </div>


{% endblock %}