{% extends "base.html" %}

{% block head %}{% load staticfiles %}{% endblock %}

{% block header %}Series{% endblock %}

{% block aside %}Series Form{% endblock %}

{% block article %}

    <section>
        <form
                action="{% if series.id %}{% url 'amazon_mec_ep:series-update' series.id %}{% else %}{% url 'amazon_mec_ep:series-add' %}{% endif %}"
                method="post"
                enctype="multipart/form-data">
        {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Save" class="btn btn-warning">

        </form>
    </section>

    <section>
        <a href="{% url 'amazon_mec_ep:series-list' %}" class="btn btn-default">Series List</a>
    </section>

{% endblock %}