{% extends "base.html" %}

{% block head %}{% load staticfiles %}{% endblock %}

{% block header %}Series{% endblock %}

{% block aside %}Delete Localized Info{% endblock %}

{% block article %}

    <section>
        <h4>Are you sure you want to delete the following localized info?</h4>
        <ul>
            <li>Series: <a href="{% url 'amazon_mec_ep:series-detail' seriesinfo.series.id %}" class="btn btn-info">{{ seriesinfo.series }}</a></li>
            <li>Language: <strong>{{ seriesinfo.language_locale }}-{{ seriesinfo.language_region }}</strong></li>
            <li>Default: <strong>{{ seriesinfo.default }}</strong></li>
            <li>Title: <strong>{{ seriesinfo.title }}</strong></li>
            <li>Summary short: <strong>{{ seriesinfo.summary_short }}</strong></li>
            <li>Summary long: <strong>{{ seriesinfo.summary_long }}</strong></li>
        </ul>
    </section>

{% endblock %}

{% block footer %}

    <section>
        <form method="post" action="">
           {% csrf_token %}
           <input type="submit" value="Delete" class="btn btn-danger"/><a href="{% url "amazon_mec_ep:series-detail" seriesinfo.series.id %}" class="btn btn-default">Cancel</a>
        </form>
    </section>

{% endblock %}